html{
  background-color: rgb(176, 252, 169);
}
body {
  margin: 0;
  font-family: sans-serif;
  font-weight: bold;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App{
  display: grid;
  gap: 0.5em;
}
.Todo{
  display: flex;
  align-items: center;
  justify-content: center;
}
.Todos{
  display: grid;
  gap: 1em;
}
